$themeColor: #3c7fa5;
$fontColor: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

#balance,
#income,
#expense {
  margin-top: 0.25rem;
  font-size: 2rem;
}

body {
  height: 100vh;
  display: flex;

  #addJumpWindow {
    display: none;
    background-color: white;
    border-radius: 8px;
    padding: 2rem 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); //將元素水平垂直居中

    #addJumpWindowCloseBtn {
      width: 2rem;
      position: fixed;
      top: 2%;
      right: 2%;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      label {
        color: $themeColor;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }

      input {
        height: 1.5rem;
        width: 15rem;
        border: 1px solid black;
        border-radius: 8px;
      }

      .radioBox {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;

        input {
          width: 2rem;
        }
      }

      button {
        background-color: $themeColor;
        color: $fontColor;
        font-size: 1rem;
        width: 10rem;
        align-self: center;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 8px;
        margin-top: 2rem;
      }
    }
  }

  .leftSide {
    background-color: $themeColor;
    color: $fontColor;
    flex: 3 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 2rem;

    h1 {
      font-size: 2rem;
      font-weight: lighter;
    }

    h3 {
      font-size: 2rem;
    }

    .balanceBox {
      p {
        font-size: 1.6rem;
      }
    }
  }

  .main {
    flex: 7 1 650px;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

    .showValueBox {
      display: flex;
      justify-content: space-around;
      margin-top: 4rem;

      .incomeBox {
        font-size: 1.6rem;
        color: #70a53c;
      }

      .expenseBox {
        font-size: 1.6rem;
        color: #a53c42;
      }
    }

    button {
      background-color: $themeColor;
      color: $fontColor;
      font-size: 1rem;
      width: 10rem;
      align-self: center;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 8px;
      margin: 2rem 0;
    }
    .detailListArea {
      height: 55vh;
      width: 35rem;
      align-self: center;
      //   border: 1px solid red;
      overflow-y: scroll;
      //有時間在修改scoller樣式

      .detailListBox {
        width: 30rem;
        border: 1px solid $themeColor;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        margin: 0 auto; //置中對齊
        margin-top: 1rem;
        border-radius: 8px;

        .textValue,
        .amountValue {
          color: $themeColor;
          font-size: 1.35rem;
          margin-right: 1rem;
          margin-top: 0.3rem;
        }

        .rightSideBox {
          display: flex;
          #deletePopUpWindow {
            width: 6rem;
            margin: 0;
          }
        }
      }
    }
  }
}
